# Chrome Extension Vite Svelte Boilerplate

<img src="public/img/logo-128.png" width="64"/>

A chrome extension boilerplate built with Svelte 3, Vite 2

[![npm](https://img.shields.io/npm/v/chrome-extension-boilerplate-vite-svelte)](https://www.npmjs.com/package/chrome-extension-boilerplate-vite-svelte)
[![npm-download](https://img.shields.io/npm/dw/chrome-extension-boilerplate-vite-svelte)](https://www.npmjs.com/package/chrome-extension-boilerplate-vite-svelte)
[![npm](https://img.shields.io/npm/dm/chrome-extension-boilerplate-vite-svelte)](https://www.npmjs.com/package/chrome-extension-boilerplate-vite-svelte)

## Features

This boilerplate is updated with:

- [Chrome Extension Manifest V3](https://developer.chrome.com/docs/extensions/mv3/intro/mv3-overview/)
- [Svelte 3](https://svelte.dev/)
- [Vite 2](https://vitejs.dev/)
- [Prettier](https://prettier.io/)
- [TypeScript](https://www.typescriptlang.org/)

## Installing and Running

### Procedures

1. Check if your [Node.js](https://nodejs.org/) version is >= **14**.
2. Clone this repository.
3. Change the package's `your name`, `description`, and `repository` fields in `package.json`.
4. Change the name of your extension on `manifest.ts`.
5. Run `pnpm install` to install the dependencies.
6. Run `pnpm build`

## Structure

All your extension's code must be placed in the `src` folder.

The boilerplate is already prepared to have a popup, an options page, a background page, and a new tab page (which replaces the new tab page of your browser). But feel free to customize these.

## TypeScript

This boilerplate now supports TypeScript! The `Options` Page is implemented using TypeScript. Please refer to `src/options/` for example usages.

## Packing

After the development of your extension run the command

```shell
$ pnpm build
```

Now, the content of `build` folder will be the extension ready to be submitted to the Chrome Web Store. Just take a look at the [official guide](https://developer.chrome.com/webstore/publish) to more infos about publishing.

---

Power by create-chrome-ext | [Github](https://github.com/guocaoyi/create-chrome-ext)
